{% extends 'studymaterial/navbar.html'%}
{% block content%}
	<!-- <h4 style="padding: 2%; font-size: 50px; text-align: center;"><span style="color: red">Study</span><span style="color: green;">Materials</span>
  </h4> -->
	<div class="container">
		<h1>EditMaterial</h1>
		<form action="#" method="POST" enctype="multipart/form-data">
			{% csrf_token %}

			{{form.as_p}} <!-- Paragraph -->

			<input type="submit" value="Update" class="btn btn-outline-warning btn-lg">
		</form>
	</div>
{% endblock%}